name: Build and push Docker image

on:
  push:
    branches:
      - main



jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      - name: Run Ruff (lint)
        run: ruff check .

      - name: Run Ruff (format check)
        run: ruff format --check .

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Pyright
        run: npm install -g pyright

      - name: Run Pyright
        run: pyright
